body {
  background-color: rgba(197, 196, 197, 0.8);
}
#one_week_tix_pic {
  width: 50%;
}
#bankcard_pic {
  width: 50%;
}
/*Grid display has been sized accordingly to be responsive*/
.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #ffffff;
  width: 100%;
}
.grid-content {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  text-align: center;
}
/*Font size of grid content*/
.grid-content h1 {
  font-size: 25px;
}
.grid-content p {
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
}
