body{
    width: auto;
    max-width: inherit;
    align-items: center;
    padding-top: 0px;
    margin: 0px;
}
.below_main_img{
    
    padding: 15px;
}



/*navigation bar(responsive)*/
nav
{
    background: white ;
    color: black;
}

nav:after
{
    content: '';
    clear: both;
    display: table;
}

nav ul
{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    
}

nav ul li
{
    float: left;
    display: inline-block;
    background: white;
    margin: 0 5px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size:  20px;
    padding: 9px 15px;

}

nav ul li a:hover
{
    border-radius: 5px; 
    color: rgba(148,0,211);

}

nav ul ul li a:hover
{
/*    color: white;*/
    color:  rgba(148,0,211);
    box-shadow: none;
   padding-left: 10px;
    padding-right:10px;
    margin-left: 20px;
    
    
}

nav ul ul
{
    position: absolute;
    top: 70px;
    background: rgba(147,112,219,200);
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul
{
    top: 70px;
    opacity: 1;
    visibility: visible;;
}

nav ul ul li
{
    position: relative;
    margin: 0px;
    width: 200px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(255,0,0,0.3);
}

nav ul ul li a
{
    line-height: 50px;
    
}

.show,.icon, input
{
    display: none;
    
}

@media all and (max-width: 776px)  
{
    nav ul
    {
        margin-right: 0px;
        float: left;
    }
    nav.logo
    {
        padding-left: 30px;
        width: 100%;
    }
    
    nav ul li, nav ul ul li
    {
        display: block;
        width: 100%
    }
    
    nav ul ul
    {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    
    nav ul ul li
    {
        border-bottom: 0px;
        
    }
    
    
    .show
    {
        display: block;
        color: black;
        font-size: 20px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    
   
    
    
    .show:hover
    {
        border-radius: 5px;
        color: rgba(148,0,211);
        
    }
    
    .icon
    {
        display: block;
        color: black;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
        padding-top: 20px;
    }
    
    nav ul li a:hover
    {
        box-shadow: none;
    }
    
    .show + a, ul
    {
        display: none;
    }
    [id^=btn]:checked + ul
    {
        display: block;
    }
    
}



/* styling for social media buttons*/
/*
.FB_button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #8caa04;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.FB_button:hover {
  background-color: #898e3e;
}

.FB_button:active {
  background-color: #828e3e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.IG_button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
.IG_button:hover {
  background-color: #3e8e41;
}

.IG_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
*/


.logo {
    display: block;
    
    margin: 15px;
    margin-left: 25px;
    width: 70px; 
    border-radius: 5px;
    float: left;
    
    
}

h1{
    font-size: 50px;
}

p{
    margin-left: 10px;
    font-size: 20px;
}

h2 {
    padding: 10px 10px;
    margin-bottom: 0px;
    font-size: 40px
}


/*-------------------------------------------*/
.main_image {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
    max-height: 850px;
}

.content {
    background: rgb(255 250 250);
    padding:20px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 10px;
}



#booking_btn {
    background-color: #f44336; /*red color*/
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

#booking_btn:hover
{
    background: rgba(178,34,34);
}

video {
    width :100%;
    height: auto;
    display: block; 
    margin-right: 15px;
    padding: 1px;
    
    
}

.ride_content {
    background: rgb(255 250 250);
    padding:20px;
    border: 1px solid black;
    
    border-style: none;
    border-radius:10px;
}

.ride_img {
    
    width: 100%;
}

@media screen and (min-width: 1203px)
{
    .ride_img{
    width: 660px;
    height:398px;
   
    }
    
    h2{
        flex: none;
    }
    
    .ride_p{
        display:block;
    }
    
    video{
        width: 700px;
        padding-left: 5px;
        margin-left: 0px;
    }

    .galaxy_warrior , .star_gaze{
        display: flex;
        flex: 100%;
    } 
    
    
    #booking_btn {
    background-color: #f44336; /*red color*/
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
    height: 45px;
    border-radius:5px;
    cursor: pointer;
    
    }
    
    
}

/*footer-------------------*/
footer
{
    position: absolute;
    background: rgba(0,0,0);    
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3
{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p
{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials
{
    outline-style: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li
{
    margin: 0 10px;
    
}

.socials a
{
    text-decoration: none;
    color: #fff;
}

.socials a i
{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover
{
    color: aqua;
      
}

.footer-bottom
{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p
{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span
{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


